#about{
    display:flex;
    flex-direction:column;

}
#pic{
    display:flex;
    flex-direction:column;
    box-sizing:border-box;

}
#pic img{
    width:575px;
    height:400px;
}
#intro{
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding:10px;
}
#intro h2{
    font-size:2rem;
    margin-bottom:20px;
}

